.weather {
    position: fixed;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

.weather:before,
.weather:after {
    content: "";
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    pointer-events: none;
    background: transparent repeat;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: weather;
    animation-name: weather;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.weather:after {
    -webkit-animation-name: weather2;
    animation-name: weather2;
}

.weather.rain:before,
.weather.rain:after {
    background: url(https://raw.githubusercontent.com/chiyuukei/particles/refs/heads/main/rain/rain.png) left top;
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.weather.rain:after {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes weather {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 1024px;
    }
}

@keyframes weather {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 1024px;
    }
}

@-webkit-keyframes weather2 {
    from {
        background-position: 64px 64px;
    }

    to {
        background-position: 64px 1088px;
    }
}

@keyframes weather2 {
    from {
        background-position: 64px 64px;
    }

    to {
        background-position: 64px 1088px;
    }
  }
